<section class="experience-card">
  <div class="experience-primary">
    <h3 style="display: inline">{{ this.item.role }}</h3>
    <p class="company" style="float: right" *ngIf="this.item.company">
      {{ this.item.company }}
    </p>
  </div>
  <div
    class="experience-secondary"
    *ngIf="this.item.startDate || this.item.location"
  >
    <span class="dates" *ngIf="this.item.startDate"
      >{{ this.item.startDate }} - {{ this.item.endDate }}
    </span>
    <span class="location" style="float: right">{{ this.item.location }}</span>
  </div>
  <div>
    <span *ngFor="let item of this.filterableItems">
      <fa-icon class="icon" [icon]="item.icon" size="2x">{{
        item.filterName
      }}</fa-icon>
    </span>
  </div>
  <ul>
    <li *ngFor="let description of this.item.notes">
      <div [innerHTML]="description"></div>
    </li>
  </ul>
</section>
