li {
	padding: 0.25rem 0;
}


.experience-primary {
	margin-top: 1.25rem;
	margin-bottom: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: baseline;
}

.experience-secondary {
	margin-bottom: 1.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: space-between;
	align-items: baseline;
}

li {
	list-style: square; 
}

li:nth-child(even) {
	font-weight: 400;
}

li:nth-child(odd) {
	font-weight: 300;
	color: rgb(243, 243, 243);
}