.contact-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;

    .icon {
        color: var(--blue);
    }
}

@media screen and (max-width: 600px) {
    .contact-info {
        flex-direction: row;
        padding-left: 0;
    }
}