#app-container {
  background-image: url("../assets/headerBackground.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
}

a, a:visited {
    color: white;
}

#primary-column {
  height: 100%;
  max-width: 1920px;

  padding: 0 var(--site-side-padding);
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 200px;
}

#primary-column section:not(:first-child) {
  background-color: rgba(0,0,0, 0.70);
  border-radius: var(--card-radius);
}

#primary-column section:nth-child(even) {
  align-self: flex-end;
}

#primary-column section:nth-child(odd) {
  align-self: flex-start;
}

.main-header {
    padding-top: 0;
    width: calc(100% - var(--site-side-padding));
}

#skills-section {
    width: 100%;
    h1 {
        text-align: center;
    }
}

#skills-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

// Phone styling

@media screen and (max-width: 600px) {
    #app-container {
        background-image: url("../assets/phoneBackground.jpg");
    }
}


// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// WIP Alert
.wip-alert {
    z-index: 9999;
    position: fixed;
    border-radius: 10px;
    width: 100px;
    background-color: var(--blue);
    color: black;
    bottom: 16px;
    right: 16px;
    padding: 10px;
    font-size: 10px;
}
