<div #app_container id="app-container">
  <app-wip-alert></app-wip-alert>
  <div #mobile_underlay id="mobile-underlay"></div>
  <div id="primary-column">
    <section class="main-header">
      <app-header
        [title]="contact.name"
        [subtitle]="contact.title"
        [education]="education"
        [contact]="contact"
      ></app-header>
    </section>
    <!--     
    <section id="filter-section" style="align-self: center">
      <div style="display: flex; align-items: center">
        <span
          class="filterItem"
          (click)="this.ToggleFilterItem(item)"
          [ngClass]="CheckFlag(item) ? 'filterItem-selected' : 'filterItem'"
          *ngFor="let item of this.filterObjects"
          [matTooltip]="item.filterName"
        >
          <fa-icon
            *ngIf="item.isFA; else elseBlock"
            [icon]="item.faIcon"
            size="2x"
            >{{ item.filterName }}</fa-icon
          >
          <ng-template #elseBlock>
            <app-svg-renderer [title]="item.iconURI"></app-svg-renderer>
          </ng-template>
        </span>
      </div>
    </section> -->

    <section *ngFor="let item of this.experienceList">
      <app-experience-list [role]="item"> </app-experience-list>
    </section>
    <section id="skills-section">
      <h2 style="text-align: center">Skills</h2>
      <div id="skills-body">
        <article *ngFor="let skills of skillsLists">
          <app-skills-list
            [title]="skills.title"
            [skills]="skills.skills"
          ></app-skills-list>
        </article>
      </div>
    </section>
  </div>
</div>
<router-outlet></router-outlet>
