<div id="primary-column">
    <app-header [title]="contact.name" [subtitle]="contact.title"></app-header>
    <main>
        <aside>
            <app-contact [contact]="contact"></app-contact>
            <app-education-card [education]="education"></app-education-card>
            <ul>
                <li *ngFor="let skills of skillsLists">
                    <app-skills-list [title]="skills.title" [skills]="skills.skills"></app-skills-list>
                </li>
            </ul>
        </aside>
        <section>
            <ul>
                <li *ngFor="let item of this.experienceList">
                    <app-experience-list
                        [role]="item"
                    >

                    </app-experience-list>
                </li>
            </ul>
        </section>
    </main>
</div>
<router-outlet></router-outlet>
