<div id="app-container">
  <div id="primary-column">
    <section class="main-header">
      <app-header
        [title]="contact.name"
        [subtitle]="contact.title"
        [education]="education"
        [contact]="contact"
      ></app-header>
    </section>
    <section *ngFor="let item of this.experienceList">
      <app-experience-list [role]="item"> </app-experience-list>
    </section>
    <section id="skills-section">
        <article *ngFor="let skills of skillsLists">
            <app-skills-list
              [title]="skills.title"
              [skills]="skills.skills"
            ></app-skills-list>
          </article>
    </section>

  </div>
</div>
<router-outlet></router-outlet>
