/* You can add global styles to this file, and also import other style files */
section {
   padding: 16px; 
}

aside {
    padding: 16px;
}

header {
    padding: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


h1, h2, h3, h4, ul, p {
    margin: 0;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}